# Secrets
.env

# Snapshots folder
snapshots/

# Database
farmguard.db

# Python cache
__pycache__/
*.pyc

# Virtual environment
farmguard-env/
venv/

# YOLO model weights (large files)
*.pt

#audio file
alarm.mp3